html {
    background-color: #fff;
    color: #000;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
